body{
    margin: 0px;
    background-color: white;
}

header{
    font-size: 20px;
    border: 3px dashed black;
}

.main-header{
    height: 100px;
    margin-bottom:1px;
}

.main-game{
    width: 600px;
    height: 480px;
    background-color: black;
    color: white;
    float: left;
    display: inline-block;
    border: 3px dashed purple;
}

.game-window{
    width: 594px;
    height:434px;
    border: 3px dashed blue;
    background-color: green;
}

.game-controls{
    width:581px;
    height:34px;
    border: 3px dashed white;
    background-color:grey;
    color:black;
    list-style-type: none;
    margin: 0px;
    padding-left:13px;
}

.game-controls-item{
    width:33px;
    height:32px;
    border:1px solid yellow;
    display: inline-block;
    margin-left: -3px;
}

.main-chat{
    width: 300px;
    height: 480px;
    float: right;
    border: 3px dashed red;
    display: inline-block;
}

.chat-log{
    list-style-type: none;
    margin: 0px;
    margin-left: -35px;
    height:455px;
}

.chat-item{
    border-bottom: 1px solid grey;
    margin-left: -0px;
}

.chat-input-form{
    background-color: grey;
}

.chat-input-text{
    width: 237px;
}

.chat-input-submit{
}

.main-adverts{
}

.main-footer{
    background-color: blue;
    color:white;
}